/* styling for the entire application */
.app {
  text-align: center;
}

/* styling for the application logo */
.app-logo {
  height: 40vmin;
  pointer-events: none;
}

/* apply rotation animation to the logo if motion is not reduced */
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

/* styling for the application header */
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* styling for hyperlinks in the application */
.app-link {
  color: #61dafb;
}

/* rotation animation for the logo */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
