/* Heffaklump Font https://fontmeme.com/fonts/heffaklump-font/*/
@font-face {
  font-family: 'Heffaklump';
  src: url('./fonts/heffaklump/Heffaklump.ttf') format('truetype');
}

body {
  font-family: 'Heffaklump', sans-serif;
  font-weight: 600; /* Numeric value for bold */
  background-image: url('https://wallpapercave.com/wp/wp11139121.jpg');
}


/*default form (please specify classes for forms)*/
form {
  margin: 0 auto;
  padding: 10%;
  border-radius: 50px;
  background-color: #f5d578;
  min-width: auto;
}

label {
  font-size: 20px;
  margin-top: 16px;
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

button {
  font-size: 16px;
  font-family: 'Heffaklump', sans-serif;
  font-weight: 600;
  background-color: #e6b72c;
  color: black;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

button:hover {
  color: #bf5e19;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* for the register/login forms */
.register-form {
  max-width: auto;
  margin: 5% 20%;
  border-radius: 50px;
  overflow: auto;
}

.login-form {
  max-width: auto;
  margin: 5% 20%;
  border-radius: 50px;
  overflow: auto;
}

.form-container {
  display: flex;
}

.signup-image {
  max-width: auto;
  margin-right: 20px;
  max-height:100%;
  width: 100px;
  align-self: center;
}

.formImg {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

.form-fields {
  flex-grow: 1;
}


/* home page CSS */
.homeBG {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 50px;
  background-color: #f5d578;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeHeader {
  margin: 0 auto;
  text-align: center;
}

.homeP {
  font-size: 25px;
  text-align: center;
}

.homeIMG {
  width: 200px;
}