/* Heffaklump Font https://fontmeme.com/fonts/heffaklump-font/*/
@font-face {
  font-family: 'Heffaklump';
  src: url('./fonts/heffaklump/Heffaklump.ttf') format('truetype');
}

header {
  background: linear-gradient(to top, #ff7e5f, #feb47b);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 100px;

  /*Added font*/
  font-size: 16px;
  font-family: 'Heffaklump', sans-serif;
  font-weight: 600; /* Numeric value for bold */
  border-radius: 10px;
}


/* login forms */

form {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-top: 16px;
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

button {
  background-color: #e6b72c;
  color: black;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

button:hover {
  color: #bf5e19;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.formImg {
  width: 300px;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

/* for the register forms */
.register-form {
  width: 600px;
}

.form-container {
  display: flex;
}

.signup-image {
  max-width: 100px;
  margin-right: 20px;
  max-height:100%;
  align-self: center;
}

.form-fields {
  flex-grow: 1;
}
