/* Heffaklump Font https://fontmeme.com/fonts/heffaklump-font/*/
@font-face {
  font-family: 'Heffaklump';
  src: url('./fonts/heffaklump/Heffaklump.ttf') format('truetype');
}

header {
  background: linear-gradient(to top, #ff7e5f, #feb47b);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 100px;

  /*Added font*/
  font-size: 16px;
  font-family: 'Heffaklump', sans-serif;
  font-weight: 600; /* Numeric value for bold */
  border-radius: 10px;
}

.logo-container {
  flex: 1;
}

.logo {
  max-width: 100%;
  height: 100px;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
  position: relative;
}

nav ul li::before {
  content: '';
  background: url('images/button.png') no-repeat;
  background-size: cover; /* Adjust as needed */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

nav ul li a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333; /* Adjust the text color */
  background-color: #ddd; /* Adjust the background color */
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

nav ul li a:hover {
  background-color: #bbb; /* Change background color on hover */
}
