.minigame-container {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 600px;
    background: #f5d578;
    border-radius: 50px;
    margin: 0 auto;
    padding: 15px;
}

.choices-container {
    margin-top: 20px;
}

label {
    font-family: 'Heffaklump', sans-serif;
    display: block;
    margin-bottom: 10px;
}

select {
    font-family: 'Heffaklump', sans-serif;
    padding: 5px;
    font-size: 20px;
}

.playButton {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.result-container {
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Heffaklump', sans-serif;
}
