/* Pet form container */
.petform-container {
    width: 500px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    text-align: center; /* Center all content */
}

/* Pet options section */
.pet-options {
    display: flex;
    justify-content: space-between;
}

/* Individual pet option */
.pet-option {
    text-align: center;
    margin: 10px;
}

/* Pet option images */
.pet-option img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Pet form */
.petForm {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/* Heading 2 */
h2 {
    font-family: 'Heffaklump', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    padding-bottom: 10px;
}

/* Name input */
.nameInput {
    margin-top: 10px;
}

/* For user Input */
input {
    margin: 0px; /* Center the input */
}
